/*
 * Sitewide vars defined here
 */

$ecogreen: #529900;

$ltblue: #cceae2;

$dkgray: #333;
$ltgray: #999;
$xltgray: #dedede;

$red: #cc0000;

$bggreen: tint($ecogreen, 70%);

body {
  font-family: Arial, Helvetica, sans-serif;
}
